* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'inter', sans-serif;
  scroll-behavior: smooth;
}

b {
  color: hsl(155, 54%, 42%);
  text-decoration: underline;
}

body {
  max-width: 375px;
  height: auto;
  margin: 0 auto;
}

@media screen and (min-width: 780px) {
  body {
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
  }
}